:root{
    --yellow-color : #f7df1e;
    --dark-color: #222;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.dark__mode{
    color: yellow;
    background-color: rgba(0, 0, 0, 0.63);
}

*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btn__scroll,
.btn__oculto,
.btn__color{
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: yellow;
    border: none;
    outline: none;
    z-index: 1002;
}

.btn__scroll{
    bottom: 2vh;
    right: calc(4.25rem + 1vw);
    margin: auto;
    background-image: url(../assets/flecha-arriba.png);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: opacity .5s;
    opacity: 0;
}

.btn__color{
    bottom: 2vh;
    left: 1vw;
    background-image: url(../assets/luna.png);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-color .5s;
    background-color: yellow;
}

.is-active__color{
    background-color: yellow;
    background-image: url(../assets/soleado.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.btn__color:hover{
    transition: background-color .5s;
    background-color: black;
}

.is-active__scroll{
    transition: opacity .5s;
    opacity: 1;
}

.encabezado{
    width: 100%;
    height: 15vh;
    background-color: rgb(230, 230, 27);
    margin: 0;
    text-align: center;
    position: sticky;
    top: 0px;
    color: black;
    z-index: 99;
}

.encabezado__title{
    margin: 0;
    font-size: 2rem;
    padding-top: 1.7rem;
    position: relative;
    

}

.menu__link{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color .5s;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;  
}

.menu__link:hover{
    background-color: rgba(241, 241, 63, 0.849);
    transition: color .5s;
    color: black;
}

.menu__section{
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    height: 15%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    position: relative;
}

.menu__main-oculto{
    list-style: none;
    display: flex;
    position: fixed;
    flex-direction: column;
    margin: 0rem 0rem;
    padding: 0;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .5s;
    transform: translateX(-100%); 
    z-index: 1001;
}

.is-active{
    transition: transform .5s;
    transform: translateX(0);
    
}

.container{
    height: 15vh;
}

.section__p{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2rem;
}

.containers{
    padding: 2rem;
    padding-top: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 1300px;
    min-height: 98vh;
    text-align: center;
    z-index: 0;
}

.secc1{
    padding-top: 0;
}

.area{
    display: flex;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.63);
}

.pelota{
    display: flex;
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color:rgb(230, 230, 27);   
}

.tester{
    display: block;
    margin: auto;
}

.conection{
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 0;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 100;
    transition: opacity .5s;
    opacity: 0;
    z-index: 1000;
}

.is-active__conection{
    text-align: center;
    transition: opacity .5s;
    opacity: 1;
}

.video{
    width: 70%;
    z-index: -10;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items: center;
}

.card{
    display: inline-block;
    background-color: var(--dark-color);
    color: var(--yellow-color);
    transition: all .3s ease-out;

}

.card figcaption{
    padding: 1rem;
    text-align: center;
}

.filter{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

.container__slider{
    max-width: 70vw;
    height: 60vh;
    margin: auto;
    position: relative;   
}

.container__img1,
.container__img2{
    width: 100%;
    height: 100%;
    background-image: url(../assets/Fondo\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.container__img2{
    background-image: url(../assets/Fondo\ 2.jpg);
}

.container__reverse{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.712);
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.activo{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.btn-next,
.btn-before{
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: auto;
    bottom: 37%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    outline: none;
    border: none;
    z-index: 1;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.582);
}

.btn-next{
    right: 1vw;
    background-image: url(../assets/flecha-correcta.png);
}

.btn-before{
    left: 1vw;
    background-image: url(../assets/flecha-izquierda.png);
}

/*Scroll Spy*/

@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 15vh auto;
        grid-template-areas: 
        "header header"
        "main panel";
    }

    header{
        grid-area: header;
    }   

    main{
        grid-area: main;
    }

    .menu__main-oculto{
        grid-area: panel;
        transform: translateX(0);
        top: 15vh;
        height: 85vh;
        position: sticky;
        background-color: rgba(0, 0, 0, 0.795);
    }

    .menu__section{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

    .btn__oculto{
        display: none;
    }

    .btn__scroll{
        right: unset;
        left: calc(4.25rem + 1.2vw);
    }

    .sec{
        background-color: rgb(228, 228, 50);
        color: black;
        border: black 1px solid;
    }
}

/*Formularios con HTML 5*/

legend{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem auto;
}

.form__contact > *{
    width: 100%;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 3px;
    display: block;
    outline: none;
}

.button__form{
    width: 50%;
    height: 45px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid black;
}

.form__contact [required]:valid{
    border: 1px solid green;
}

.form__contact [required]:invalid{
    border: 1px solid red;
}

.comment{
    height: 100px;
    resize: none;
}

.form__error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: red;
    color: #fff;
    transition: all 0.800ms ease;
}

.none{
    display: none;
}

.form__loader{
    width: 80%;
}

.is-active__form{
    display: block;
    animation: show-message 1s ease-out 0s normal both;
}

@keyframes show-message{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.selector,
.button__read{
    display: block;
    margin: 1rem auto;
    width: 50%;
    height: 25px;
}

.text_speak{
    width: 70%;
    height: 100px;
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}